body{
  padding: 0.5%; 
  word-wrap:break-word;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;

}

img{
  height: 200px;
}


.well{
  display: none;
}


.form-select{
  height: 2em;
}

.fa-trash-o{
  color: rgb(140, 8, 8);
}


.thePhone{
  height: 300px;
  border-radius: 3%;
}